{% for key, value in cms_auth_config_gacco.iteritems() %}
  {% if value == 'None' %}
    {% do cms_auth_config_gacco.update({key: None }) %} 
  {% endif %}
{% endfor %}

{{ cms_auth_config_gacco | to_nice_json }}
