{% for key, value in cms_env_config_gacco.iteritems() %}
  {% if value == 'None' %}
    {% do cms_env_config_gacco.update({key: None }) %}
  {% endif %}
{% endfor %}
{{ cms_env_config_gacco | to_nice_json }}
