{% for key, value in lms_auth_config_gacco.iteritems() %}
  {% if value == 'None' %}
    {% do lms_auth_config_gacco.update({key: None }) %} 
  {% endif %}
{% endfor %}
{{ lms_auth_config_gacco | to_nice_json }}
